In [33]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [34]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-12-05 18:37:23,-23.1203,-134.9692,75.76,75,98,7.85
1,1,Comodoro Rivadavia,AR,2021-12-05 18:36:16,-45.8667,-67.5000,73.26,33,20,20.71
2,2,Saint-Philippe,RE,2021-12-05 18:36:46,-21.3585,55.7679,78.39,79,38,10.04
3,3,Yumen,CN,2021-12-05 18:37:24,40.2833,97.2000,27.61,47,23,22.17
4,4,Padang,ID,2021-12-05 18:37:24,-0.9492,100.3543,73.45,87,99,2.46

In [35]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [36]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-12-05 18:37:23,-23.1203,-134.9692,75.76,75,98,7.85
2,2,Saint-Philippe,RE,2021-12-05 18:36:46,-21.3585,55.7679,78.39,79,38,10.04
9,9,Faanui,PF,2021-12-05 18:37:26,-16.4833,-151.7500,80.46,73,84,17.09
12,12,Vaini,TO,2021-12-05 18:37:27,-21.2000,-175.2000,75.36,94,75,8.05
15,15,Saint-Leu,RE,2021-12-05 18:37:28,-21.1500,55.2833,77.86,79,27,2.19
18,18,Kavaratti,IN,2021-12-05 18:33:57,10.5669,72.6420,81.75,70,80,11.99
24,24,Atuona,PF,2021-12-05 18:36:46,-9.8000,-139.0333,78.48,75,8,21.05
25,25,Batangafo,CF,2021-12-05 18:37:31,7.3008,18.2833,82.71,26,100,4.38
31,31,Jesus Carranza,MX,2021-12-05 18:37:34,17.4333,-95.0333,81.00,72,60,5.59
35,35,Houma,US,2021-12-05 18:37:35,29.5958,-90.7195,81.00,68,46,4.00

In [43]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     75.76 -23.1203 -134.9692
2   Saint-Philippe      RE     78.39 -21.3585   55.7679
9           Faanui      PF     80.46 -16.4833 -151.7500
12           Vaini      TO     75.36 -21.2000 -175.2000
15       Saint-Leu      RE     77.86 -21.1500   55.2833
18       Kavaratti      IN     81.75  10.5669   72.6420
24          Atuona      PF     78.48  -9.8000 -139.0333
25       Batangafo      CF     82.71   7.3008   18.2833
31  Jesus Carranza      MX     81.00  17.4333  -95.0333
35           Houma      US     81.00  29.5958  -90.7195

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [72]:
##### Iterate through the DataFrame.
from pprint import pprint
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    
    #pprint(hotels["results"][0]["name"])
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,75.76,-23.1203,-134.9692,People ThankYou
2,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Faanui,PF,80.46,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
12,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
15,Saint-Leu,RE,77.86,-21.1500,55.2833,La Caz Oceane
18,Kavaratti,IN,81.75,10.5669,72.6420,Hotels in Lakshadweep Islands
24,Atuona,PF,78.48,-9.8000,-139.0333,Villa Enata
25,Batangafo,CF,82.71,7.3008,18.2833,OCHA Office
31,Jesus Carranza,MX,81.00,17.4333,-95.0333,Departamento Doris
35,Houma,US,81.00,29.5958,-90.7195,Courtyard by Marriott Houma

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))